/* #okk{
    height: 400px;
    width: 400px;
    border: 2px rgb(29, 21, 21) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

} */

/* @import "tailwindcss"; */